<div class='container'>

  <div class="col-md-8 ">
    <h1 class="display-5">Create New Task</h1>

    <br />

    <form [formGroup]="taskForm" (ngSubmit)="createNewTask()">

      <div class="form-group">
        <label for="title">Task Title</label>
        <input formControlName="title" type="text" class="form-control" id="title" placeholder="Task Title">
      </div>

      <div class="form-group">
        <label for="description">Task Description</label>
        <input formControlName="description" type="text" class="form-control" id="description"
          placeholder="Task Description">
      </div>

      <div class="form-group">
        <label for="deadline">Dead-Line Date</label>
        <input formControlName="deadline" type="date" value="" class="form-control" id="deadline"
          placeholder="dd-mm-yyyy">
        <small>Enter Date in the format dd-mmm-yyyy</small>
      </div>

      <br />

      <button type="submit" class="btn btn-primary">
        <span *ngIf="!isLoading">Create</span>
        <div *ngIf="isLoading" class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
      <button routerLink="/emp-tasks-assign/{{ assignableUserId }}" type="button"
        class="btn btn-outline">Cancel</button>

    </form>

  </div>


</div>
