<nav class="navbar navbar-dark bg-primary">
  <a routerLink="/">
    <span class="navbar-brand">Taskify</span>
  </a>

  <!-- <div  class="dropdown ">
    <button class="btn btn-Primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ currentUser }}
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Log Out</a>
    </div>
  </div> -->
</nav>
