nav {
  margin-bottom: 25px;
}

.navbar-brand {
  font-family: "Caveat Brush";
  font-weight: 400;
  font-size: 1.5em;
}

.dropdown-item:hover {
  background-color: red;
  color: white;
}

.btn {
  color: white;
  font-size: 1.2em;
}
