<div class="container">

  <div class="center">
    <div *ngIf="isLoading" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="!isLoading">
    <h3 class="display-6">
      Here are the Tasks Assigned to {{ selectedEmployeeName }}
    </h3>

    <br />

    <h3 *ngIf="currentEmployeeTasks?.length === 0">No Tasks</h3>

    <table *ngIf="currentEmployeeTasks?.length > 0" class="table">
      <thead>
        <tr>
          <th scope="col">Sl. No.</th>
          <th scope="col">Task ID</th>
          <th scope="col">Title</th>
          <th scope="col">Dead Line</th>
          <th scope="col">Status</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of currentEmployeeTasks; let i = index">
          <th scope="row">{{ (i+1) }}</th>
          <td>{{ task.id }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.deadline | date }}</td>
          <td>
            <div *ngIf="task.completed">✔</div>
            <div *ngIf="!task.completed">❌</div>
          </td>
          <td><a routerLink="/view-task/{{ task.id }}">View</a></td>
        </tr>
      </tbody>
    </table>

    <br />

    <div class="center">
      <button routerLink="/create-new-task/{{ selectedEmployeeId }}" class="btn btn-primary">
        Assign New Task
      </button>
    </div>
  </div>

</div>
